/* FORCE sidebar profile image size */
.author__avatar {
  width: 260px !important;
}

.author__avatar img {
  width: 260px !important;
  height: 260px !important;
  max-width: none !important;
  border-radius: 50%;
}
