/* FORCE sidebar profile image size */
.author__avatar {
  width: 200px !important;
}

.author__avatar img {
  width: 200px !important;
  height: 200px !important;
  max-width: none !important;
  border-radius: 50%;
}
